/* custom properties */
:root {
    --l: 980px;

    --h-header: 80px;
    --b-padding: 3em;

    /* pallette */
    --clr-secondary: #292929;
    --clr-accent: #58c93a;
    --clr-border: #e1e0e0;
}

/* body.darkmode {} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BASE */
/* typography */
@font-face {
    font-family: Eurofurenceregular;
    src: url(../fonts/Eurofurenceregular/eurof55.ttf);
}

@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato/Lato-Bold.ttf);
}

/*basics*/
html {
    font-family: Lato-Regular, sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}


a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: 1.4;
    font-family: Lato-Regular, serif;
}


button,
.btn,
label {
    border: none;
    background-color: transparent;
    font: inherit;
    color: inherit;

    cursor: pointer;
}

input {
    padding: .3em;
    background-color: var(--clr-border);
}

/* cards */
.card {
    margin-bottom: 4.375em;
}


/*COMPONENTS*/

/* modal  */
:modal {
    background-color: #fefefe;

    padding: 30px;
    border: 1px solid #888;
    width: 70%;
    max-width: 500px;

    box-shadow: 3px 3px 10px rgba(0 0 0 / 0.5);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);

    font-size: 1.2rem;
}

dialog::backdrop {
    background: hsl(0 0 0, 0.5);
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.1);
}

.modal__closeIcon {
    color: #000;
    float: right;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.modal__text {
    margin: 2em 0 1em 0;
}

.modal__btns {
    margin-top: 3em;

    display: flex;
    justify-content: flex-end;
    gap: 1em;

    font-size: 1rem;
}

/* screen */
.main-screen {
    position: fixed;
    inset: var(--h-header) 0 0 0;
    background-color: #000;
    background-color: rgb(0 0 0 / 70%);

    cursor: pointer;
    pointer-events: none;

    opacity: 0;
    transition: opacity .6s;
}

body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}

body {
    font-size: 0.875rem;
}

/*header*/
header {
    padding: 0 20px;
    box-shadow: inset 0 -6px 0 #1e1e1e;
    background-color: var(--clr-secondary);
    color: #fff;
}

.header-wrapper {
    max-width: var(--l);
}

.main-nav a {
    line-height: var(--h-header);
    width: 100%;
    font-family: Lato-Bold, sans-serif;
}

.main-nav a:hover,
.main-nav a.active {
    color: var(--clr-accent);
    box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 var(--clr-accent);
}


/* main */
main {
    max-width: var(--l);
    padding-top: 4.375em;

    border: 1px solid var(--clr-border);
}

.card {
    display: flex;
    padding: 0 20px
}


.card-image {
    cursor: pointer;
}

.card-title {
    margin: 1em 0;

    text-transform: uppercase;
    color: #4f4e4e;
    font-weight: 700;
}

.card-article p {
    flex-grow: 1;
    margin-bottom: 2em;
}


/* page navigation bar  */
.page-nav-bar {
    min-height: 75px;
    max-width: var(--l);
    /* margin: 0 auto; */
    padding: 0 2em;

    border: 1px solid var(--clr-border);
    border-top: 0.5px solid var(--clr-border);
}

.page-nav-bar .btn {
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #818181;
}


/*footer*/
.main-footer {
    height: 317px;
    width: 100%;
    box-shadow: inset 0 1px 0 var(--clr-border);
    background-color: #f8f8f8;
}

.main-footer .logo {
    color: var(--clr-secondary);
}

.main-footer small {
    margin: 2em 0;
    color: #a6a6a6;
}

.main-footer a {
    color: #939292;
    font-family: Lato-Bold;
    font-weight: 700;
}

.social-links img {
    width: 40px;
    height: 40px;
    margin: 0.377em 0.625em;
    filter: grayscale(1.0);
    opacity: 0.3;

    cursor: pointer;
}

.social-links img:hover {
    filter: grayscale(0);
    opacity: 1;
}

/*HELPERS*/
.logo {
    font-size: 2.5rem;
    font-family: Eurofurenceregular, sans-serif;
    letter-spacing: -0.8px;

    cursor: pointer;
}

.logo span {
    color: var(--clr-accent)
}

/* flex helpers*/
.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between
}

.flex-column {
    flex-direction: column;
}

/* center icons in buttons  */
.place-items-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/*list helpers*/
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hidden {
    display: none !important;
}

.btn--style {
    width: 186px;
    height: 40px;

    border: 2px solid #c2c2c2;
    border-radius: 93px;
    color: #c2c1c1;

    font-weight: 700;
}

.btn--style:hover {
    color: var(--clr-accent);
    border-color: var(--clr-accent);
}


/* MEDIA QUERIES*/

/* mobile only  */
@media (max-width: 740px) {

    /* disable scroll when mobile menu is opened  */
    body.menu-open {
        overflow: hidden;
    }

    .main-nav ul {
        position: fixed;
        top: var(--h-header);
        right: 0;
        left: 0;
        padding: 1em 2em;

        flex-direction: column;
        height: 100vh;
        background: rgb(255 255 255 / 80%);
        border-inline-start: 1px solid #ccc;
        min-width: 200px;

        transform: translateX(100%);
        transition: transform .6s, box-shadow .6s;
    }

    body.menu-open .main-nav ul {
        transform: translateX(0);
        box-shadow: -6px 0px 14px rgb(0 0 0 / 20%);
    }

    .main-header .main-nav a {
        display: block;
        text-align: center;
        padding: 13px 10px;
        margin: .3em 0;

        border-bottom: 1px solid #ccc;
        background-color: var(--clr-secondary);

        font-size: 1.5rem;
        text-transform: uppercase;

        transition: background-color .6s;
    }

    /* post card  */
    .card {
        flex-direction: column;
    }
}

/* medium  */
@media (min-width: 741px) {
    :root {
        --h-header: 7em;
        --b-padding: 0;
    }

    .toggle-menu-btn {
        display: none;
    }

    body {
        font-size: 1rem;
    }

    .main-content,
    .header-wrapper,
    .page-nav-bar {
        margin: 0 20px;
    }

    .card {
        padding: 0;
    }

    .main-nav a {
        display: inline-block;
        width: var(--h-header);
        text-align: center;
    }

    .card-article {
        padding-left: 2.565em;
        padding-right: 1.563em;
    }

    .card-title {
        margin-top: 0;
        font-size: 1.75rem;
    }
}

/* large  */
@media (min-width: 1060px) {
    :root {
        --h-header: 8.19em;
        --b-padding: 0;
    }

    body {
        font-size: 1rem;
    }

    .main-content,
    .header-wrapper,
    .page-nav-bar {
        margin: 0 auto;
    }

}